<div class="container">
    <h2>Temperature Unit Convertor</h2>
    <form class="form-horizontal" name="convert">
      <div class="form-group">
        <label class="control-label col-sm-2" for="Celcius">Celcius:</label>
        <div class="col-sm-6">
          <input [(ngModel)]="Celcius" name="Celcius" (keyup)=" CelciusToFahrenheit()"  step="any" class="form-control" placeholder="Enter a number">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Fahrenheit">Fahrenheit:</label>
        <div class="col-sm-6">
          <input [(ngModel)]="Fahrenheit" name="Fahrenheit" (keyup)=" fahrenheitToCelcius()"  step="any" class="form-control" placeholder="Enter a number">     
        </div>
      </div>
    </form>
  </div>